<app-navbar></app-navbar>

<section id="home">
  <app-hero></app-hero>
</section>

<section id="benefits">
  <app-benefits></app-benefits>
</section>

<section id="curriculum">
  <app-curriculum></app-curriculum>
</section>

<section id="instructor">
  <app-instructor></app-instructor>
</section>

<section id="testimonials">
  <app-testimonials></app-testimonials>
</section>

<section id="pricing">
  <app-pricing></app-pricing>
</section>

<section id="faq">
  <app-faq></app-faq>
</section>

<section id="resources">
  <app-resources></app-resources>
</section>

<section id="projects">
  <app-projects></app-projects>
</section>

<app-footer></app-footer>
<app-chatbot></app-chatbot>
<app-enroll-modal></app-enroll-modal>